body{
    background-color:  #1A0B2E;
    width: 100%;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.nav-bar li{
    list-style: none;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500px;
}
.button{
    width: 160px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 800px;
    background-color:  rgb(239, 36, 202);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.banner{
    background-image: url(assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0px;
 
}

.banner-container{
    text-align: center;
}
.banner-container h1{
    font-size: 60px;
    font-weight: bolder;
    color: white;
}

.banner-img{
    background-image: url(assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
    position: relative;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: 700px;
    gap: 5px;
    padding: 5px;
    color: white;
    border-radius: 30px;
    background-color: rgb(255, 0, 106);
}
.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    font-size: 14px;
    font-weight: 600px;
    gap: 5px;
    padding: 5px;
    color: #00ff88;
    border-radius: 30px;
    border: 1px solid #00ff88;
    background-color: #1A0B2E;
}
.podcast{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 120px;text-align: center;
}
.podcast-content{
    padding-bottom: 40px;
    gap: 20px;
}
.podcast-content h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
}
.podcast-rating{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-top: 40px;
}
.podcast-rating h1{
    color: #00ff88;
    font-size: 48px;
    font-weight: black;
}
.choose{
    background-color: #230E3D;
    
}
#choose-content-box1{
    grid-area: box1;
    background-color: #351165;
    box-shadow: 0px 5px 10px #230E3D;
    border-radius: 30px;
    padding: 30px;
    align-items: center;
    
}
#choose-content-box2{
    grid-area: box2;
    background-color: #351165;
    box-shadow: 0px 5px 10px #230E3D;
    border-radius: 30px;
    padding: 30px;
}
#choose-content-box3{
    grid-area: box3;
    background-color: #351165;
    box-shadow: 0px 5px 10px #230E3D;
    border-radius: 30px;
    padding: 30px;
}
#choose-content-box4{
    grid-area: box4;
    background-color: #351165;
    box-shadow: 0px 5px 10px #230E3D;
    border-radius: 30px;
    padding: 30px;
}
#choose-content-box5{
    grid-area: box5;
    background-color: #351165;
    box-shadow: 0px 5px 10px #230E3D;
    border-radius: 30px;
    padding: 30px;
}
.choose-content{
     
    display: grid;
    gap: 40px;
    grid-template-areas: 
    "box1  box2  box2"
    "box1  box3  box3"
    "box4  box4  box5";
}
.choose-container{
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.choose-container h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20px 0px;
}
.choose-content h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.container{
    margin: 120px 200px;
    gap: 120px;
}
.episode-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
.episode-content{
    background-color: #250D44;
    box-shadow: 0 5px 10px #1A0B2E;
    border-radius: 40px;
}
.feature{
    padding: 10px;
}
.feature h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.feature h3{
    display: flex;
    gap: 10px;
    color: #00ff88;
}
.episodes h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.host{
    gap: 40px;
}

.host-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #351165;
    box-shadow: 0 5px 10px #1A0B2E;
    border-radius: 30px;
}
.host-meet{
    display: flex;
    align-items: center;
    gap: 20px;
     
}
.host-meet img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 25px;
    width: 25px;
    border: 2px solid #533C72;
    border-radius: 50%;
}
.host h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.host-content h2{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.para{
    color: #c5b4b4;
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
}

.footer{
    background-image: url(assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.footer-container{
    text-align: center;
    padding: 120px;
}
.footer-container h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.footer-content p{
    display: flex;
    align-items: center;
    gap: 10px;
}



/*.............responssive.............*/


/*........mobile responssive........*/

@media screen and (min-width: 440px) and (max-width: 768px) {
 
    .nav-bar li,a{
        display: none;
    }
    .nav button{
        display: none;
    }
    .nav{
        
    }
   .podcast{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 50px;text-align: center;
}
.podcast-rating{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
   .podcast-content{
        gap: 20px;
        width: 100%;
   }

   .podcast-content h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
}

   .choose-content{
     
    display: grid;
    gap: 20 px;
    grid-template-areas: 
    "box1  box1  box1"
    "box2  box2  box2"
    "box3  box3  box3"
    "box4  box4  box4"
    "box5  box5  box5";
}

.episode-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.choose-container{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.host-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.host-meet{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
     
}
.container{
    margin: 50px 0px;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 
}
}



/*.........................*/

@media screen and (min-width: 769px) and (max-width: 992px) {
    .nav img{
        display: none;
    }
    
    .episode-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.podcast-rating{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

   .host-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

    .host-meet{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    }



}


@media screen and (min-width: 993px) {
    .nav img{
        display: none;
    }
}